# Root
.env
.env.*
!.env.example
!client/.env.production
node_modules/
dist/
*.log
.DS_Store
.vercel

# Client
client/node_modules/
client/dist/
client/.env
client/.env.local

# Server
server/node_modules/
server/.env
